extends layout

block content
  script.
    var parts = !{parts};
  script.
    var locs = !{locs};
  div.container-fluid
    div.row(ng-controller="PartList as list")
      ul(class="nav nav-tabs")
        li(ng-click="list.setTab('fields')", ng-class="{active: list.isTab('fields')}")
          a Fields
        li(ng-click="list.setTab('worksheet')", ng-class="{active: list.isTab('worksheet')}")
          a Worksheet
      div(ng-show="list.isTab('fields')").col-md-12
        h1 Select Fields
        p
          input(ng-model="list.filter", placeholder="Filter")
        table.table
          tr
            th
            th FieldName
            th Readable Name
          tr(ng-repeat="loc in list.locations | filter : list.filter")
            td
              input(type="checkbox", ng-checked="list.selectedLocations.indexOf(loc.name) > -1", ng-click="list.toggleSelection(loc.name)")
            td {{ loc.name }}
            td
              input(type="text", ng-model="loc.readName", ng-keyup="list.update(loc)")
      div(ng-show="list.isTab('worksheet')").col-md-12
        h1 Worksheet
        table(class="table")
          tr
            th(ng-repeat="loc in list.selectedLocations", ng-click="list.sort(loc)") {{ list.locations[loc].readName }}
              span(class="glyphicon pull-right", ng-show="list.isSort(loc)", ng-class="{'glyphicon-chevron-up': !list.sortDesc, 'glyphicon-chevron-down': list.sortDesc}")
          tr(ng-repeat="part in list.parts | orderByRecurse : list.sortBy : list.sortDesc", ng-if="list.containsAllFields(part)")
            td(ng-repeat="loc in list.selectedLocations") {{ $eval(loc) }}
