doctype html
html(ng-app="kspBalance")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js')
    script(src='/javascripts/build/ksp_balancer.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
  body
    block content
